<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <a
        href="./index.html"
        class="logo footer-logo"
        aria-label="Go to main page"
        ><img
          class="logo-img"
          src="./img/logo-mega-min.webp"
          alt=""
          width="150"
          height="55"
      /></a>
      <ul class="social-links">
        <li>
          <a
            href="https://www.instagram.com/avtoshkola.driver?igsh=OHY2MGFwOWgzaGdr&utm_source=qr"
            class="social-link"
            aria-label="Instagram"
          >
            <svg class="social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
            <!-- <span class="visually-hidden">Instagram</span> -->
          </a>
        </li>
        <li>
          <a
            href="https://t.me/avtoshkola_driver"
            class="social-link"
            aria-label="Telegram"
          >
            <svg class="social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            href="https://www.tiktok.com/@avtoshkola.driver?_t=ZM-8v0JWGEJZyg&_r=1"
            class="social-link"
            aria-label="TikTok"
          >
            <svg class="social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-tiktok"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-right-wrap">
        <address class="footer-contacts">
          <a href="tel:+380681232000" class="footer-tel">+38 (068) 123 2000</a>
          <a
            target="_blank"
            href="https://maps.app.goo.gl/eoj72PFg8UrvQFhk7"
            class="footer-location"
          >
            м. Тетіїв, вул. Соборна 3</a
          >
        </address>
        <ul class="footer-oder-list">
          <li class="order-item">
            <button
              class="order-btn"
              type="button"
              data-modal-order-open
              data-title="call"
            >
              Замовити дзвінок
            </button>
          </li>
          <li class="order-item">
            <button class="order-btn" type="button" data-modal-order-open>
              Записатись on-line
            </button>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-text">Всі права захищенні Автошкола «Драйвер» © 2023</p>
  </div>
</footer>
