<section class="section history" id="history">
    <h2 class="visually-hidden">Курс Історія України Тетіїв</h2>
    <div class="container">
        <div class="history-practice">
            <h2 data-aos="fade-down" data-aos-duration="1000" class="section-title history-title">
                Історія України та медіаграмотність
            </h2>
            <h3 data-aos="fade-up" data-aos-duration="1000" class="pre-title">
                <span class="border-history">Освітній курс від автошколи «ДРАЙВЕР»</span>
            </h3>
            <div class="discription-wrapper">
                <div class="" data-aos="fade-right" data-aos-duration="1500">
                    <h3 class="list-title">ЧОМУ ЦЕ ЦІКАВО?</h3>
                    <ul class="history-description-list">
                        <li class="history-item">
                            Розширення кругозору та розуміння історичних подій
                        </li>
                        <li class="history-item">
                            Опанування навичок критичного мислення та аналізу інформації
                        </li>
                        <li class="history-item">Легкий та доступний формат навчання</li>
                        <li class="history-item">
                            Можливість поєднати навчання з дозвіллям
                        </li>
                    </ul>
                </div>
                <div class="" data-aos="fade-left" data-aos-duration="1500">
                    <h3 class="list-title">Формат курсу</h3>
                    <ul class="format-description-list">
                        <li class="format-item"><span class="format-text">16 занять по 1,5 години</span></li>
                        <li class="format-item"><span class="format-text">Професійні історики та медіаексперти</span>
                        </li>
                        <li class="format-item"><span class="format-text">Навчальний клас автошколи «Драйвер»</span>
                        </li>
                        <li class="format-item"><span class="format-text">Лекції, інтерактиви, вікторини,
                                дискусії</span>
                        </li>
                    </ul>
                </div>
                <button class="call-btn" data-modal-order-open>
                    Записатись на курс
                </button>
            </div>
        </div>
    </div>
    <a href="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://avtoshkoladriver.com.ua/history.pdf&locale=uk&embedded=true&toolbar=0&navpanes=0&statusbar=0"
        target="_blank" class="call-btn history-btn">Повний зміст курсу</a>
</section>