<ul class="social-links">
  <li>
    <a
      href="https://www.instagram.com/avtoshkola.driver?igsh=OHY2MGFwOWgzaGdr&utm_source=qr"
      class="social-link"
      aria-label="Instagram"
    >
      <svg class="social-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://t.me/avtoshkola_driver"
      class="social-link"
      aria-label="Telegram"
    >
      <svg class="social-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-telegram"></use>
      </svg>
    </a>
  </li>

  <li>
    <a
      href="https://www.tiktok.com/@avtoshkola.driver?_t=ZM-8v0JWGEJZyg&_r=1"
      class="social-link"
      aria-label="TikTok"
    >
      <svg class="social-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-tiktok"></use>
      </svg>
    </a>
  </li>
</ul>
